<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thgg.android.protocolo"
    android:versionCode="5" android:versionName="1.5">
 	
 	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="17"/>
 	
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light"
        android:allowBackup="false" >
        
        <activity
            android:name="thgg.android.protocolo.ui.ProtocoloActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.CadastroDocumentosActivity" android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="CADASTRO_DOCUMENTOS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.CadastroPalestrasActivity" android:windowSoftInputMode="stateAlwaysVisible">
        </activity>
        <activity android:name="thgg.android.protocolo.ui.CadastroVerbasActivity" >
            <intent-filter>
                <action android:name="CADASTRO_VERBAS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.ListaDocumentosActivity" >
            <intent-filter>
                <action android:name="LISTA_DOCUMENTOS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.CadastroViasActivity" android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="CADASTRO_VIAS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.ListaVerbasActivity" >
            <intent-filter>
                <action android:name="LISTA_VERBAS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.CadastroCanaisActivity" android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="CADASTRO_CANAIS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.CadastroClientesActivity" android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="CADASTRO_CLIENTES" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.CadastroRepresentantesActivity" android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="CADASTRO_REPRESENTANTES" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.CadastroRepresentadasActivity" android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="CADASTRO_REPRESENTADAS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.CadastroEventosActivity" android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="CADASTRO_EVENTOS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.ListaEventosActivity" >
            <intent-filter>
                <action android:name="LISTA_EVENTOS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.CadastroPedidosActivity" android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="CADASTRO_PEDIDOS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.ListaPedidosActivity" >
            <intent-filter>
                <action android:name="LISTA_PEDIDOS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.ListaClientesActivity" >
            <intent-filter>
                <action android:name="LISTA_CLIENTES" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.ListaRepresentantesActivity" >
            <intent-filter>
                <action android:name="LISTA_REPRESENTANTES" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.ListaRepresentadasActivity" >
            <intent-filter>
                <action android:name="LISTA_REPRESENTADAS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.ListaViasActivity" >
            <intent-filter>
                <action android:name="LISTA_VIAS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="thgg.android.protocolo.ui.ListaCanaisActivity" >
            <intent-filter>
                <action android:name="LISTA_CANAIS" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
<!--         <activity -->
<!--             android:name="thgg.android.protocolo.ui.ResumoVerbasActivity" -->
<!--             android:label="@string/resumo_verbas" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="RESUMO_VERBAS" > -->
<!--                 </action> -->
<!--                 <category android:name="android.intent.category.DEFAULT" > -->
<!--                 </category> -->
<!--             </intent-filter> -->
<!--             <meta-data -->
<!--                 android:name="android.support.PARENT_ACTIVITY" -->
<!--                 android:value="thgg.android.protocolo.ui.ListaVerbasActivity" /> -->
<!--         </activity> -->
    </application>
</manifest>